<p id="notice"><%= notice %></p>
<p>
  <b>Project:</b>
  <%= @assigned_project.project.name %>
</p>
<p>
  <b>User:</b>
  <%= @assigned_project.user.name %>
</p>
<%= link_to 'Edit', edit_assigned_project_path(@assigned_project) %> |
<%= link_to 'Back', assigned_projects_path %>
