<% @page_title = "UserAuth" %>
<div class="">
  <h1>Please enter details:</h1>
  <%= form_for(@user) do |f| %>
    <p> Name:</br> <%= f.text_field :name%> </p>
    <p> Email:</br> <%= f.text_field :email%> </p>
    <div class="field">
      <%= collection_check_boxes(:user, :skill_ids, @skills, :id, :skill) %>                    
    </div>
    <p> Profile Picture:</br> <%= f.file_field :image%></p>
    <p> Password:</br> <%= f.password_field :password%></p>
    <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
    <%= f.submit "Submit" %>
  <% end %>
</div>
