<%= form_for(@assign_user) do |f| %>
  <% if @assign_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assign_user.errors.count, "error") %> prohibited this project from being assigned:</h2>
      <ul>
      <% @assign_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.select :project_id , Project.all.collect{ |p| [ p.name, p.id ] if @current_project.id == p.id }.compact %>
  <%= f.select :user_id, User.all.collect { |p| [ p.name, p.id ] if @current_project.skills.index{ |x| !p.skills.include?(x)}.nil?}.compact %>
  <%= hidden_field_tag :project_id, @current_project.id %>
  <%= f.submit %>

<% end %>
